[Unit]
Description=HY2 UDP port hopping redirect
Documentation=https://v2.hysteria.network/docs/advanced/Port-Hopping/
After=network-online.target ufw.service
Wants=network-online.target
Before=sing-box.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/test -e /proc/sys/net/ipv4/conf/eth0
ExecStartPre=/usr/bin/test -x /usr/sbin/nft
ExecStart=/usr/sbin/nft -f /etc/nftables.d/hy2-port-hopping.nft
ExecStop=/usr/sbin/nft delete table inet edge_hy2_port_hopping

[Install]
WantedBy=multi-user.target
